#table_1 {
	top:0px;
	left:0px;
	position : absolute;
}
#table_0 {
	top:0px;
	left:0px;
	position : absolute;
}	


#block_1 {
	top : 0px;
	left : 0px;
	position : absolute;
}
#block_2 {
	top : 0px;
	left : 172px;
	position : absolute;
}
#block_3 {
	top : 0px;
	left : 344px;
	position : absolute;
}
#block_4 {
	top : 0px;
	left : 516px;
	position : absolute;
}
#block_5 {
	top : 152px;
	left : 0px;
	position : absolute;
}
#block_6 {
	top : 152px;
	left : 172px;
	position : absolute;
}
#block_7 {
	top : 152px;
	left : 344px;
	position : absolute;
}
#block_8 {
	top : 152px;
	left : 516px;
	position : absolute;
}
#block_9 {
	top : 304px;
	left : 0px;
	position : absolute;
}
#block_10 {
	top : 304px;
	left : 172px;
	position : absolute;
}
#block_11 {
	top : 304px;
	left : 344px;
	position : absolute;
}
#block_12 {
	top : 304px;
	left : 516px;
	position : absolute;
}
#block_13 {
	top : 456px;
	left : 0px;
	position : absolute;
}
#block_14 {
	top :456px;
	left : 172px;
	position : absolute;
}
#block_15 {
	top : 456px;
	left : 344px;
	position : absolute;
}
#block_16 {
	top : 456px;
	left : 516px;
	position : absolute;
}

#card_1 {
	top : 0px;
	left : 0px;
	position:absolute;
}
#card_2 {
	top : 0px;
	left : 172px;
	position:absolute;
}
#card_3 {
	top : 0px;
	left : 0px;
	position:absolute;
}
#card_4 {
	top : 0px;
	left : 172px;
	position:absolute;
}
#card_5 {
	top : 0px;
	left : 0px;
	position:absolute;
}
#card_6 {
	top : 0px;
	left : 172px;
	position:absolute;
}
#card_7 {
	top : 0px;
	left : 0px;
	position:absolute;
}
#card_8 {
	top : 0px;
	left : 172px;
	position:absolute;
}
#card_9 {
	top : 0px;
	left : 0px;
	position:absolute;
}
#card_10 {
	top : 0px;
	left : 172px;
	position:absolute;
}
#card_11 {
	top : 0px;
	left : 0px;
	position:absolute;
}
#card_12 {
	top : 0px;
	left : 172px;
	position:absolute;
}
#card_13 {
	top : 0px;
	left : 0px;
	position:absolute;
}
#card_14 {
	top : 0px;
	left : 172px;
	position:absolute;
}
#card_15 {
	top : 0px;
	left : 0px;
	position:absolute;
}
#card_16 {
	top : 0px;
	left : 172px;
	position:absolute;
}

#demo {
	top : 1000px;
	position:absolute;
}
#demo1 {
	top : 1010px;
	position:absolute;
}